/******************************
UX Falabella.com - César Avilés
*******************************/

@charset "UTF-8";

/* PARTIALS MAIN */

@import "partials/variables";
@import "partials/grids";
@import "partials/lato";
@import "partials/settings";

/* GUIDED SETTINGS */

@import "partials/form-navidad/search-plp";