/******************************
UX Falabella.com - César Avilés
*******************************/

@charset "UTF-8";

/* PARTIALS MAIN */

@import "partials/variables";
@import "partials/grids";
@import "partials/lato";
@import "partials/settings";

/* SALE HOME */

@import "partials/sale-home/sale-home";