$h1-size: 50px;
$h2-size: 28px;
$h3-size: 25px;
$h4-size: 20px;
$h5-size: 16px;
$p-size: 14px;
$bg-gray-navidad:#f4f5f7;
$bg-gray-2:#CBCBCB;
$color-top:#ff3e54;
$color-red:#ec003d;
$color-green:#62A083;
.main-module-search-plp-regalos {
    background: transparent;
    position: relative;
    justify-content: flex-start;
    box-shadow: 0 15px 40px -15px rgba(0, 0, 0, .5);
    margin-top: 3rem;
    transition: $transition1;
    animation: intro 1s .5s 1 alternate;
    @include respond-to('medium') {
        padding: 0;
        overflow: visible;
        margin-bottom: 0;
        margin-top: 0;
        box-shadow: none;
    }
    //SEARCH REGALOS
    & .cont-search-regalos {
        width: 100%;
        position: relative;
        background: $color-red;
        border-radius: 3px;
        padding: 0 1rem;
        @include respond-to('medium') {
            height: auto;
            border-radius: 0;
        }
        .content-navidad {
            width: 100%;
            height: 100%;
            max-width: 1280px;
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0 auto;
            @include respond-to('medium') {
                padding: 0;
                position: relative;
                width: 92.5%;
            }
            /* Contenido Search */
            & .container-search-navidad {
                background: $color-red;
                min-height: auto;
                border-radius: 3px;
                position: initial;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 0 1rem;
                @include respond-to('medium') {
                    margin-right: 0;
                    border: none;
                    box-shadow: 0 1px 20px -5px rgba(0, 0, 0, 0.15);
                    min-height: auto;
                    flex: auto;
                    max-width: 100%;
                }
                & .title-header {
                    color: $color-white;
                    position: relative;
                    display: inline-block;
                    background: $color-red;
                    font-weight: 700;
                    font-size: $h4-size;
                    text-align: center;
                    @include respond-to('medium') {
                        font-size: $h3-size;
                        width: 100%;
                        font-weight: 400;
                        margin: 2rem 0;
                    }
                    @include respond-to('super-small') {
                        padding: 1rem;
                    }
                    & .regalo-3-header {
                        position: absolute;
                        right: 10px;
                        top: -47px;
                        width: 42px!important;
                    }
                }
                & .cont-select {
                    padding: 0 1.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    @include respond-to('small') {
                        padding: 0;
                    }
                    //Init Select
                    & .input-field {
                        min-height: 1px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        @include respond-to('small') {
                            padding: 0;
                            &:nth-of-type(1) {
                                margin-bottom: 1rem;
                            }
                        }
                        //New Dropdown
                        .dropholder {
                            width: 95%;
                            height: 4.5rem;
                            background-color: $color-white;
                            background: $color-white;
                            color: $color-mine-shaft;
                            border: none;
                            border-radius: 0;
                            outline: none;
                            padding: 0;
                            box-shadow: none;
                            box-sizing: content-box;
                            transition: $transition1;
                            cursor: pointer;
                            display: inline-block;
                            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.07);
                            border-radius: 3px;
                            @include respond-to('medium') {
                                margin: 0 0 8px 0;
                                position: relative;
                                width: 100%;
                            }
                            &:active,
                            &:focus,
                            &:hover {
                                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
                            }
                            &.disabled {
                                pointer-events: none;
                            }
                        }
                        & p {
                            line-height: 4.5rem;
                            font-size: $p-size;
                            margin: 0;
                            padding-left: 1.5rem;
                            @include respond-to('medium') {
                                font-size: 15px;
                            }
                            & img.personajes,
                            & img.interes {
                                max-width: 100%;
                                width: 35px!important;
                                align-self: flex-start;
                                border-radius: 50px;
                                margin: 0;
                                vertical-align: middle;
                                margin-right: .8rem;
                            }
                            & .others {
                                margin-left: 5px;
                            }
                            & img.interes-top {
                                box-shadow: 0 0 0 2px rgba($color-top, 1);
                            }
                        }
                        & .click-active {
                            color: $color-mine-shaft;
                            text-transform: capitalize;
                        }
                        & .dropdown,
                        & .dropholder {
                            background: $color-white;
                        }
                        & .dropdown {
                            float: left;
                            width: 100%;
                            border-radius: 0;
                            overflow: hidden;
                            cursor: pointer;
                            height: 4.5rem;
                            position: relative;
                            border-radius: 3px;
                            &:after {
                                content: "";
                                width: 0;
                                height: 0;
                                border: 6px solid transparent;
                                border-color: $color-mine-shaft transparent transparent transparent;
                                position: absolute;
                                top: 0;
                                right: 13px;
                                transition: $transition3;
                                transform: translateY(20px);
                            }
                            &:active:after,
                            &.active:after {
                                transform: translateY(15px) rotate(180deg);
                            }
                            &.active+.dropdownMenu {
                                opacity: 1;
                                visibility: visible;
                                transform: translateY(0) translateX(-50%);
                            }
                        }
                        & .dropdownMenu {
                            padding: 0;
                            transition: $transition1;
                            position: absolute;
                            left: 0;
                            top: 50px;
                            right: 0;
                            margin: 0;
                            cursor: pointer;
                            background-color: $color-white;
                            color: $color-mine-shaft;
                            box-shadow: 0 5px 30px -7px rgba(0, 0, 0, 0.4);
                            z-index: 1000;
                            opacity: 0;
                            visibility: hidden;
                            overflow: hidden;
                            transform: translateY(20px) translateX(-50%);
                            border-radius: 3px;
                            width: 95%;
                            left: 50%;
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: center;
                            @include respond-to('small') {
                                //overflow-y: auto;
                                width: 100%;
                            }
                            & li {
                                margin: 0;
                                padding: 1rem 2rem;
                                font-size: $p-size;
                                color: $color-mine-shaft;
                                transition: $transition1;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                position: relative;
                                width: 100%;
                                text-transform: capitalize;
                                & .others {
                                    margin-left: 5px;
                                }
                                & img.personajes {
                                    max-width: 100%;
                                    width: 35px;
                                    align-self: flex-start;
                                    border-radius: 50px;
                                    margin: 0;
                                    margin-right: 1rem;
                                }
                                & img.interes {
                                    @extend img.personajes;
                                }
                                & img.interes-top {
                                    box-shadow: 0 0 0 2px rgba($color-top, 1);
                                }
                                &:hover:not(.save),
                                &:active:not(.save) {
                                    background: $color-alabaster;
                                    box-shadow: 4px 0 0 $color-rio-grande inset;
                                }
                                &:first-child {
                                    margin-top: .5rem;
                                }
                                &:last-child {
                                    margin-bottom: .5rem;
                                }
                                & p.cont-checkbox {
                                    position: absolute;
                                    line-height: inherit;
                                    right: 35px;
                                    top: 25px;
                                }
                            }
                            //Order
                            & li.ninos {
                                order: 1;
                            }
                            & li.teens {
                                order: 2;
                            }
                            & li.mujer {
                                order: 3;
                            }
                            & li.hombre {
                                order: 4;
                            }
                            & li.mascotas {
                                order: 5;
                            }
                            & li.familias {
                                order: 6;
                            }
                            & .save {
                                display: flex;
                                width: 100%;
                                justify-content: flex-end;
                                & .btn-save {
                                    line-height: 35px;
                                    margin: 0;
                                    padding: 0;
                                    background-color: $color-rio-grande;
                                    border-radius: $border-botones;
                                    color: $color-white;
                                    display: block;
                                    text-align: center;
                                    width: 100%;
                                    max-width: 100px;
                                    font-size: 14px;
                                    font-weight: bold;
                                    @include respond-to('small') {
                                        max-width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
                & .cont-number-btn {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    & .result-box {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        & .cont-regalos {
                            width: 100%;
                            padding: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-wrap: wrap;
                            margin: 1rem 0;
                            & .contador-img-number {
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                                width: 100%;
                                @include respond-to('small') {
                                    justify-content: center;
                                }
                                & .contador-img {
                                    max-width: 100%;
                                    width: 50px!important;
                                    margin-right: .5rem;
                                    position: relative;
                                    top: -7px;
                                }
                                & .contador-number {
                                    font-size: $h1-size;
                                    font-weight: 400;
                                    color: $color-white;
                                }
                            }
                            & .contador-text {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                color: $color-white;
                                font-size: $p-size;
                                font-weight: 600;
                                padding-right: 4rem;
                                position: relative;
                                top: -5px;
                                @include respond-to('small') {
                                    margin-bottom: 1rem;
                                    padding-right: 0;
                                }
                            }
                        }
                        & .cont-btn {
                            position: relative;
                            @include respond-to('medium') {
                                width: 100%;
                                margin-bottom: 3.4rem;
                            }
                            & .btn-search {
                                height: 50px;
                                line-height: 50px;
                                display: block;
                                background-color: $color-rio-grande;
                                color: $color-white;
                                font-size: $p-size;
                                text-transform: uppercase;
                                border: none;
                                outline: none;
                                letter-spacing: 1px;
                                font-weight: 800;
                                transition: $transition1;
                                border-radius: $border-botones;
                                width: 100%;
                                text-align: center;
                                padding: 0 1rem;
                                box-shadow: 0 15px 25px -10px rgba(0, 0, 0, 0.15);
                                @include respond-to('small') {
                                    padding: 0;
                                    font-size: 14px;
                                    position: relative;
                                    width: 100%;
                                }
                                &:hover {
                                    background: darken($color-rio-grande, 5%);
                                }
                                &:active {
                                    box-shadow: 0 10px 20px -2px rgba(0, 0, 0, .05);
                                }
                            }
                        }
                    }
                }
            }
            //Resultados Navidad
            & .facet-especial-para {
                & .item-desktop {
                    & .container-item {
                        &:before {
                            content: "";
                            width: 0;
                            height: 0;
                            border-top: 20px solid transparent;
                            border-right: 20px solid $color-white;
                            border-bottom: 20px solid transparent;
                            position: absolute;
                            z-index: 100;
                            left: -1.5%;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        & .item,
                        & .item-checkbox {
                            & .cont-checkbox {
                                visibility: hidden;
                            }
                        }
                    }
                }
            }
            & .facet-interes {
                & .item-desktop {
                    & .container-item {
                        &:before {
                            content: "";
                            width: 0;
                            height: 0;
                            border-top: 20px solid transparent;
                            border-right: 20px solid $color-white;
                            border-bottom: 20px solid transparent;
                            position: absolute;
                            z-index: 100;
                            left: -1.5%;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        & .item,
                        & .item-checkbox {
                            min-width: 20%;
                            min-height: 140px;
                        }
                    }
                }
            }
            & .item-desktop-active {
                visibility: visible;
                opacity: 1;
                transform: translateX(0);
            }
            & .item-desktop-first {
                top: -50px;
            }
        }
    }
    //Boton Desabilitado
    .btn-disabled {
        pointer-events: none;
        cursor: default;
        background-color: $color-silver;
        color: $color-white;
        border: 1px solid $color-silver!important;
        box-shadow: none;
    }
    //Img Desabilitado
    .img-disabled {
        opacity: .4;
        pointer-events: none;
        cursor: default;
    }
    //Errores
    .error-input {
        border-bottom: 1px solid $color-error!important;
        box-shadow: 0 1px 0 0 transparent!important;
        transition: $transition1;
    }
    .msje-error-input {
        color: $color-error!important;
        font-size: 12px;
        width: 100%;
        margin: 0;
        display: block;
        line-height: 1px;
        transition: $transition1;
    }
    .msje-error-input-email {
        margin-left: 3.8rem;
    }
    //Checkbox
    [type="checkbox"]+span:not(.lever) {
        position: relative;
        padding-left: 0 !important;
        cursor: pointer;
        display: inline-block;
        height: 0 !important;
        top: -25px !important;
        line-height: 25px;
        font-size: 1rem;
        font-size: 12px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        @include respond-to('super-small') {
            font-size: 10px
        }
    }
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
        position: absolute;
        opacity: 0;
        pointer-events: visible;
        z-index: 1;
        top: -6px;
        @include respond-to('small') {
            top: -2px;
        }
    }
    [type="checkbox"]+span:not(.lever):before,
    [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 13px;
        height: 13px;
        z-index: 0;
        border: 2px solid $color-silver !important;
        margin-top: 3px;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        @include respond-to('small') {
            width: 15px;
            height: 15px;
        }
    }
    [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
        border: 0;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0)
    }
    [type="checkbox"]:checked+span:not(.lever):before {
        top: -4px;
        left: -5px;
        width: 8px;
        height: 16px;
        border-top: 2px solid transparent !important;
        border-left: 2px solid transparent !important;
        border-right: 2px solid #aad500 !important;
        border-bottom: 2px solid #aad500 !important;
        -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        transform: rotate(40deg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        @include respond-to('small') {
            width: 10px;
            height: 18px;
        }
    }
    //New number style
    .number-column {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-transition: top 250ms ease-in, -webkit-transform .1s ease-in;
        transition: top 250ms ease-in, -webkit-transform .1s ease-in;
        transition: transform .1s ease-in, top 250ms ease-in;
        transition: transform .1s ease-in, top 250ms ease-in, -webkit-transform .1s ease-in;
    }
    .result-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    a.result-box.mobile .result-number {
        color: white;
        font-weight: 300;
        height: 1em;
        font-size: 40px;
        letter-spacing: -1px;
    }
    .number-digit {
        line-height: 1em;
    }
    .result-number {
        font-size: 50px;
        font-weight: 300;
        height: 5.5rem;
        overflow: hidden;
        color: $color-white;
        letter-spacing: -1px;
        transform: scale(.90);
    }
}

@keyframes intro {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}


/* END MAIN */


/* Cargador Home */

.cont-cargador {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: $color-white;
    z-index: 1000;
    top: 0;
    left: 0;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 3px;
    border: 3px solid $color-rio-grande;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $color-rio-grande transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes cont-form {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

//Placeholder
*::-webkit-input-placeholder {
    color: $color-silver;
}

:-moz-input-placeholder {
    color: $color-silver;
}

:-moz-placeholder {
    color: $color-silver;
}

::-moz-placeholder {
    color: $color-silver;
}

:-ms-input-placeholder {
    color: $color-silver;
}

::-ms-input-placeholder {
    color: $color-silver;
}

.page-wrapper {
    padding-bottom: 0;
}