.grid-1-3-ipad {
    width: 31.5%;
    @include respond-to('small') {
        width: 100%;
    }
}


/* HOME CATEGORY TABLET */

.home-category {
    width: 100%;
    max-width: 1024px;
    min-height: 100vh;
    background: transparent;
    padding: 4rem;
    @include respond-to('small') {
        padding: 1.5rem;
    }
    & .title-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 3rem;
        //padding-top: 2.5rem;
        @include respond-to('small') {
            padding: 0;
        }
        & .title-text {
            font-size: 25px;
            font-weight: 300;
            text-align: left;
            padding-left: .5rem;
            margin: 0;
        }
    }
}


/*----- ACCORDION -----*/

.accordion {
    border-radius: 3px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    & .accordion-section {
        align-self: flex-start;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 160px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-bottom: 3rem;
        position: relative;
        transition: $transition1;
        border-radius: 3px;
    }
    //Background Category
    & .bg-tecnologia {
        background-image: url(../img/sale/test-10.jpg);
    }
    & .bg-decohogar {
        background-image: url(../img/sale/test-2.jpg);
    }
    & .bg-dormitorio {
        background-image: url(../img/sale/test-3.jpg);
    }
    & .bg-deportes {
        background-image: url(../img/sale/test-4.jpg);
    }
    & .bg-ninos {
        background-image: url(../img/sale/test-1.jpg);
    }
    & .bg-moda-mujer {
        background-image: url(../img/sale/test-6.jpg);
    }
    & .bg-moda-hombre {
        background-image: url(../img/sale/test-7.jpg);
    }
    & .bg-zapatos {
        background-image: url(../img/sale/test-9.jpg);
    }
    & .bg-belleza {
        background-image: url(../img/sale/test-8.jpg);
    }
    & .bg-accesorios {
        background-image: url(../img/sale/test-5.jpg);
    }
    //Title Section
    & .accordion-section-title {
        width: 100%;
        display: inline-block;
        color: $color-mine-shaft;
        padding: 1rem;
        line-height: 30px;
        background: rgba($color-white, .95);
        font-weight: 700;
        font-size: 15px;
        width: 90%;
        margin-bottom: 1.5rem;
        transition: $transition1;
        position: relative;
        text-align: center;
        border-radius: 3px;
        font-family: $font-family-text;
        z-index: 1;
        &:hover,
        &:active {
            background: $color-white;
            box-shadow: 0 3px 0 $color-pistachio;
        }
        &:hover .overlay-category,
        &:active .overlay-category {
            visibility: visible;
            opacity: 1;
        }
        &::after {
            content: '\002B';
            color: $color-mine-shaft;
            font-weight: 300;
            left: 15px;
            font-size: 20px;
            position: absolute;
            transition: $transition1;
            top: 50%;
            transform: translateY(-50%);
            font-weight: 400;
        }
    }
    & .active::after {
        content: "\2212";
    }
}


/*----- SECTION CONTENT -----*/

.accordion-section-content {
    position: relative;
    width: 100%;
    padding: 4rem 4rem .5rem 4rem;
    display: none;
    background-color: $color-white;
    margin-bottom: 2rem;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, .09);
    border-radius: 3px;
    @include respond-to('small') {
        padding: 2rem;
    }
    //Traingulos
    & .triangulo-left {
        border-color: transparent transparent $color-white transparent;
        border-style: solid;
        border-width: 10px;
        top: -20px;
        left: -webkit-calc(16.5% - 10px);
        left: calc(16.5% - 10px);
        position: absolute;
        z-index: 1;
        animation: triangulo .4s ease;
    }
    & .triangulo-center {
        @extend .triangulo-left;
        left: -webkit-calc(50% - 10px);
        left: calc(50% - 10px);
    }
    & .triangulo-right {
        @extend .triangulo-center;
        right: -webkit-calc(16.5% - 10px);
        right: calc(16.5% - 10px);
        left: inherit;
    }
    & .dynamic-sub-menu {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-flow: row wrap;
        flex: 1 0 0;
        overflow: hidden;
        text-align: left;
        & .sub-menu {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 2rem;
            width: 22.5%;
            margin-right: 0;
            align-self: flex-start;
            flex: auto;
            @include respond-to('small') {
                width: 50%;
            }
            & ul {
                margin: 0;
                & li {
                    display: block;
                    &:last-child>.link-sub-category {
                        font-weight: 700;
                    }
                    & a {
                        color: $color-mine-shaft;
                        text-decoration: none;
                        display: block;
                        letter-spacing: .5px;
                        transition: all .4s ease-in-out;
                        font-family: 'Lato', sans-serif;
                        font-family: $font-family-text;
                    }
                    & a.title-sub-category {
                        font-weight: 700;
                        height: auto;
                        line-height: normal;
                        margin-bottom: .5em;
                        color: $color-pistachio;
                        text-transform: uppercase;
                        font-size: 14px;
                        letter-spacing: 1px;
                        border-bottom: 1px solid $color-white;
                        padding-bottom: .5rem;
                        @include respond-to('super-small') {
                            font-size: .75rem;
                            letter-spacing: 0;
                        }
                        &:hover,
                        &:active {
                            border-bottom: 1px solid $color-pistachio;
                        }
                    }
                    & a.link-sub-category {
                        letter-spacing: 0;
                        height: auto;
                        line-height: 18px;
                        margin-bottom: 1.2rem;
                        font-weight: 400;
                        color: $color-mine-shaft;
                        font-size: 14px;
                        position: relative;
                        display: inline-block;
                        @include respond-to('super-small') {
                            font-size: 12px;
                        }
                        &:hover,
                        &:active {
                            color: $color-pistachio;
                        }
                        &::after {
                            content: "";
                            width: 0;
                            height: 1px;
                            background: $color-pistachio;
                            position: absolute;
                            left: 0;
                            bottom: -1px;
                            transition: $transition1;
                        }
                        &:hover:after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.hide-only-mobile {
    @include respond-to('small') {
        display: none;
    }
}

.hide-only-tablet-desktop {
    display: none;
    @include respond-to('small') {
        display: block;
    }
}