body {
    margin: 0;
    padding: 0;
}

.main-module-search-plp-regalos * {
    box-sizing: border-box;
    font-weight: 500;
    font-family: $font-family-text;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-module-search-plp-regalos {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    @include respond-to('medium') {
        min-height: auto;
    }
}

.hide {
    display: none!important;
}

.hide-mobile {
    display: block!important;
    @include respond-to('small') {
        display: none!important;
    }
}

.hide-tablet {
    display: flex!important;
    @include respond-to('medium') {
        display: none!important;
    }
}

.hide-desktop {
    display: flex!important;
    @include respond-to('large') {
        display: none!important;
    }
}

.show {
    display: block!important;
}

.show-mobile {
    display: none!important;
    @include respond-to('small') {
        display: block!important;
    }
}

.show-tablet {
    display: none!important;
    @include respond-to('medium') {
        display: block!important;
    }
}

.show-desktop {
    display: none!important;
    @include respond-to('large') {
        display: block!important;
    }
}

a {
    background-color: transparent;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    border: none;
}

//Colores
.white-text {
    color: white!important;
}

.green-corp-text {
    color: $color-rio-grande!important;
}

.grey-dark-text {
    color: $color-mine-shaft!important;
}