html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.main-module * {
    box-sizing: border-box;
    font-weight: 500;
    font-family: $font-family-text;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-module {
    background: $color-rio-grande;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none!important;
}

div,
article,
section,
hgroup,
span,
img,
figure,
footer,
header,
main,
aside,
nav,
blockquote,
figcaption {
    display: block;
}

//Colores
.white-text {
    color: white!important;
}

.green-corp-text {
    color: $color-rio-grande!important;
}

.grey-dark-text {
    color: $color-mine-shaft!important;
}