body {
    margin: 0;
    padding: 0;
}

.overlay * {
    box-sizing: border-box;
    font-weight: 500;
    font-family: $font-family-text;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hide {
    display: none!important;
}

.hide-small {
    @include respond-to('small') {
        font-size: 15px;
        display: none!important;
    }
}

a {
    background-color: transparent;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    border: none;
}

//Colores
.white-text {
    color: white!important;
}

.green-corp-text {
    color: $color-rio-grande!important;
}

.grey-dark-text {
    color: $color-mine-shaft!important;
}