    .module-swiper {
        position: relative;
        .swiper-section {
            width: 100%;
            max-width: 1280px;
            height: 100%;
            background: $color-white;
            box-shadow: 0 0 50px -2px rgba(0, 0, 0, .02);
            border-radius: 4px;
            margin-bottom: .5rem;
            & .swiper-container {
                width: 100%;
                padding: 1.5rem;
                @include respond-to('medium') {
                    padding-bottom: 3.5rem;
                }
                //Title
                & .title-section {
                    text-align: left;
                    margin-bottom: 1.5rem;
                    h1 {
                        font-weight: 300;
                        margin: 0;
                        color: $color-mine-shaft;
                        font-size: 1.5rem;
                        width: 100%;
                    }
                }
                //Swiper Slider 1
                & .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    max-width: 175px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & .link-product {
                        color: $color-mine-shaft;
                        width: 100%;
                        text-align: left;
                        outline: none;
                        font-weight: normal;
                        & img {
                            margin-bottom: .5rem;
                        }
                        & .brand-product {
                            font-size: 10px;
                            text-transform: uppercase;
                            margin-bottom: .3rem;
                            letter-spacing: 1px;
                            color: $color-gray;
                        }
                        & .name-product {
                            font-size: 13px;
                            margin-bottom: .3rem;
                            font-weight: normal;
                            white-space: nowrap;
                            width: 90%;
                            color: $color-mine-shaft;
                        }
                        & .price-one {
                            font-size: 15px;
                            color: $color-red;
                            font-weight: 700;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin-bottom: 5px;
                            & .icon-ou {
                                margin: 0;
                                margin-left: .5rem;
                                max-width: 45px;
                                width: 45px;
                                height: 15px;
                            }
                        }
                        & .price-two {
                            font-size: 9px;
                            color: $color-mine-shaft;
                        }
                    }
                }
                //Swiper Slider 2
                & .swiper-slide-2 {
                    position: relative;
                    & .cont-img {
                        position: relative;
                    }
                    & .cont-description {
                        visibility: hidden;
                        opacity: 0;
                        height: 0;
                        transition: $transition1;
                        @include respond-to('medium') {
                            height: auto;
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
                & .swiper-slide-2:hover .cont-description,
                .cont-description-active {
                    height: auto;
                    visibility: visible;
                    opacity: 1;
                }
                //Swiper Slider 3
                & .swiper-slide-3 {
                    position: relative;
                    & .link-product {
                        @include respond-to('medium') {
                            margin-bottom: 1rem;
                        }
                    }
                    & .cont-img {
                        position: relative;
                        & .image-product {
                            margin-bottom: 0;
                            transition: $transition1;
                            transform: translateY(0);
                        }
                    }
                    & .cont-description {
                        visibility: hidden;
                        transition: $transition1;
                        position: absolute;
                        bottom: -20px;
                        background: $color-white;
                        padding: .5rem;
                        transform: translateY(100px);
                        @include respond-to('medium') {
                            visibility: visible;
                            opacity: 1;
                            position: relative;
                            transform: translateY(0);
                        }
                    }
                }
                & .swiper-slide-3:hover .cont-description {
                    transform: translateY(-5px);
                    visibility: visible;
                }
                & .swiper-slide-3:hover .image-product {
                    transform: scale(.6) translateY(-60px);
                    @include respond-to('medium') {
                        transform: scale(.8) translateY(0px);
                    }
                }
                /* Bullet */
                .swiper-pagination {
                    display: none;
                    @include respond-to('medium') {
                        display: block;
                    }
                }
                .swiper-pagination-bullet-active {
                    background: $color-pistachio;
                }
                .swiper-container-horizontal,
                .swiper-pagination-bullets {
                    bottom: 20px;
                }
                /* Navegation */
                .arrow-nav {
                    outline: none;
                    @include respond-to('medium') {
                        display: none;
                    }
                }
                .swiper-button-next {
                    background-image: url(../img/svg/arrow-nav.svg);
                    right: 5px;
                    width: 23px;
                    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .12);
                    transform: scale(1.5);
                }
                .swiper-button-prev {
                    background-image: url(../img/svg/arrow-nav.svg);
                    transform: rotate(180deg) scale(1.5);
                    left: 5px;
                    width: 23px;
                    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .12);
                }
            }
        }
        //OPTION 4
        & .swiper-section-2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            //Title New Desktop
            & .cont-title-new {
                left: 0;
                position: absolute;
                background: $color-white;
                z-index: 100;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                @include respond-to('medium') {
                    position: relative;
                    display: none;
                }
                & .title-new {
                    border: 1px solid $color-rio-grande;
                    padding: 1rem;
                    margin-right: 1rem;
                    width: 170px;
                    max-height: 170px;
                    height: 100%;
                    margin-left: 1.5rem;
                    & h1 {
                        font-size: 1.5rem;
                        font-weight: 300;
                        color: $color-rio-grande;
                        text-align: left;
                        margin: 0;
                    }
                }
            }
            //Container Swiper
            & .swiper-container {
                overflow: hidden;
                @include respond-to('medium') {
                    padding-bottom: 3rem;
                    overflow: hidden;
                }
            }
            //Title New Mobile
            & .cont-title-new-mobile {
                @extend .cont-title-new;
                display: none;
                @include respond-to('medium') {
                    display: block;
                    position: relative;
                    min-height: 100%;
                }
                & .title-new {
                    margin-left: 0;
                    min-height: 170px;
                    @include respond-to('super-small') {
                        min-height: 220px;
                    }
                }
            }
            & .swiper-wrapper {
                left: 17.5%;
                @include respond-to('medium') {
                    left: 0;
                }
                & .swiper-slide-4 {
                    position: relative;
                    background: $color-white;
                    transition: $transition1;
                    height: 100%;
                    & .link-product {
                        border-radius: 4px;
                        background-color: $color-white;
                        transition: $transition1;
                        position: relative;
                        width: 100%;
                        & .cont-img {
                            width: 100%;
                            & .image-product {
                                margin-bottom: 0;
                                transition: $transition1;
                            }
                        }
                        & .cont-description {
                            background: $color-white;
                            width: 100%;
                            visibility: hidden;
                            opacity: 0;
                            position: absolute;
                            transition: $transition1;
                            left: 0;
                            padding: .75rem;
                            border-radius: 0 0 4px 4px;
                            box-shadow: 0 10px 20px rgba(0, 0, 0, .05);
                            & .brand-product {
                                font-size: 9px;
                            }
                            & .name-product {
                                font-size: 11px;
                            }
                            & .price-one {
                                font-size: 13px;
                            }
                            @include respond-to('medium') {
                                visibility: visible;
                                opacity: 1;
                                position: relative;
                                box-shadow: none;
                            }
                        }
                    }
                    & .link-product:hover {
                        transform: scale(1.1) translateY(-37.5px);
                        padding: .5rem;
                        height: 100%;
                        box-shadow: 0 0 20px rgba(0, 0, 0, .05);
                        @include respond-to('medium') {
                            box-shadow: none;
                            padding: 0;
                            transform: none;
                        }
                    }
                    & .link-product:hover .image-product {
                        @include respond-to('medium') {
                            transform: scale(.80);
                        }
                    }
                    & .link-product:hover .cont-description {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
        //OPTION 5
        & .swiper-section-3 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            box-shadow: none;
            //Container Swiper
            & .swiper-container {
                box-shadow: none;
                background: $color-gallery;
                padding: 4.2rem 0;
                @include respond-to('medium') {
                    background: $color-white;
                    padding: 0;
                    padding-bottom: 3rem;
                }
                & .title-section {
                    background: $color-white;
                    margin: 0;
                    padding: 1.5rem;
                }
                & .swiper-wrapper {
                    background: $color-white;
                    left: 0;
                    padding: 0 1.5rem 1.5rem 1.5rem;
                    width: 500%;
                    @include respond-to('medium') {
                        padding-bottom: 0;
                    }
                    & .swiper-slide-4 {
                        position: relative;
                        background: $color-white;
                        transition: $transition1;
                        height: 100%;
                        & .link-product {
                            border-radius: 4px;
                            background-color: $color-white;
                            transition: $transition1;
                            position: relative;
                            width: 100%;
                            & .cont-img {
                                width: 100%;
                                & .image-product {
                                    margin-bottom: 0;
                                    transition: $transition1;
                                }
                            }
                            & .cont-description {
                                background: $color-white;
                                width: 100%;
                                visibility: hidden;
                                opacity: 0;
                                position: absolute;
                                transition: $transition1;
                                left: 0;
                                padding: .75rem;
                                border-radius: 0 0 4px 4px;
                                box-shadow: 0 10px 20px rgba(0, 0, 0, .05);
                                @include respond-to('medium') {
                                    padding: .75rem 0;
                                }
                                & .brand-product {
                                    font-size: 9px;
                                }
                                & .name-product {
                                    font-size: 11px;
                                    @include respond-to('medium') {
                                        font-size: 12px;
                                    }
                                }
                                & .price-one {
                                    font-size: 13px;
                                }
                                @include respond-to('medium') {
                                    visibility: visible;
                                    opacity: 1;
                                    position: relative;
                                    box-shadow: none;
                                }
                            }
                        }
                        & .link-product:hover {
                            transform: scale(1.2) translateY(-60px);
                            padding: .5rem;
                            height: 100%;
                            box-shadow: 0 0 20px rgba(0, 0, 0, .05);
                            @include respond-to('medium') {
                                box-shadow: none;
                                padding: 0;
                                transform: none;
                            }
                        }
                        & .link-product:hover .image-product {
                            @include respond-to('medium') {
                                transform: scale(.80);
                            }
                        }
                        & .link-product:hover .cont-description {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        //Arrow Next Section
        & .next-section {
            position: absolute;
            bottom: 4%;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            animation: arrow-next 1s infinite alternate;
            transition: $transition1;
            & img {
                width: 20px;
                margin: auto;
            }
            &:active {
                background: $color-alto;
            }
        }
        @keyframes arrow-next {
            from {
                transform: translateY(0);
            }
            to {
                transform: translateY(10px);
            }
        }
        //Arrow Back Section
        & .back-section {
            position: absolute;
            top: 4%;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            animation: arrow-next 1s infinite alternate;
            transition: $transition1;
            & img {
                transform: rotate(180deg);
                width: 20px;
                margin: auto;
            }
            &:active {
                background: $color-alto;
            }
        }
        @keyframes arrow-next {
            from {
                transform: translateY(0);
            }
            to {
                transform: translateY(10px);
            }
        }
        & .volver-inicio {
            @extend .next-section;
            color: $color-gray;
            width: auto;
            height: auto;
            letter-spacing: 2px;
            font-size: .8rem;
            animation: none;
        }
    }