    .cover {
        h1 {
            padding-left: 1rem!important;
            padding-right: 1rem!important;
            text-align: center;
        }
    }
    
    .module-swiper {
        position: relative;
        @include respond-to('medium') {
            min-height: 100vh;
        }
        .swiper-section {
            width: 100%;
            max-width: 1280px;
            height: 100%;
            background: $color-white;
            box-shadow: 0 0 50px -2px rgba(0, 0, 0, .02);
            border-radius: 4px;
            margin-bottom: .5rem;
            & .swiper-container {
                width: 100%;
                padding: 1.5rem;
                @include respond-to('medium') {
                    padding-bottom: 4rem;
                }
                //Title
                & .title-section {
                    text-align: left;
                    margin-bottom: 1.5rem;
                    h1 {
                        font-weight: 300;
                        margin: 0;
                        color: $color-mine-shaft;
                        font-size: 1.5rem;
                        width: 100%;
                    }
                }
                //Swiper Slider 1
                & .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    max-width: 175px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & .link-product {
                        color: $color-mine-shaft;
                        width: 100%;
                        text-align: left;
                        outline: none;
                        font-weight: normal;
                        &:hover .img-slider-big {
                            opacity: .8;
                        }
                        & .img-slider-big {
                            transition: $transition1;
                            margin-bottom: .5rem;
                        }
                        & .brand-product {
                            font-size: 10px;
                            text-transform: uppercase;
                            margin-bottom: .3rem;
                            letter-spacing: 1px;
                            color: $color-gray;
                        }
                        & .name-product {
                            font-size: 13px;
                            margin-bottom: .3rem;
                            font-weight: normal;
                            width: 90%;
                            color: $color-mine-shaft;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                        & .price-one {
                            font-size: 15px;
                            color: $color-red;
                            font-weight: 700;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin-bottom: 5px;
                            & .icon-ou {
                                margin: 0;
                                margin-left: .5rem;
                                max-width: 45px;
                                width: 45px;
                                height: 15px;
                            }
                        }
                        & .price-two {
                            font-size: 9px;
                            color: $color-mine-shaft;
                        }
                    }
                }
                & .swiper-slide-3:hover .cont-description {
                    transform: translateY(-5px);
                    visibility: visible;
                }
                & .swiper-slide-3:hover .image-product {
                    transform: scale(.6) translateY(-60px);
                    @include respond-to('medium') {
                        transform: scale(.8) translateY(0px);
                    }
                }
                /* Bullet */
                .swiper-pagination {
                    display: none;
                    @include respond-to('medium') {
                        display: block;
                    }
                }
                .swiper-pagination-bullet-active {
                    background: $color-pistachio;
                }
                .swiper-container-horizontal,
                .swiper-pagination-bullets {
                    bottom: 20px;
                }
                /* Navegation */
                .arrow-nav {
                    outline: none;
                    @include respond-to('medium') {
                        display: none;
                    }
                }
                .swiper-button-next {
                    background-image: url(../img/svg/arrow-nav.svg);
                    right: 5px;
                    width: 23px;
                    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .12);
                    transform: scale(1.5);
                }
                .swiper-button-prev {
                    background-image: url(../img/svg/arrow-nav.svg);
                    transform: rotate(180deg) scale(1.5);
                    left: 5px;
                    width: 23px;
                    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .12);
                }
            }
        }
        //OPTION MEDIUM
        & .swiper-section-3 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            box-shadow: none;
            //Container Swiper
            & .swiper-container {
                box-shadow: none;
                background: $color-gallery;
                padding: 4.2rem 0;
                @include respond-to('medium') {
                    background: $color-white;
                    padding: 0;
                    padding-bottom: 3rem;
                }
                & .title-section {
                    background: $color-white;
                    margin: 0;
                    padding: 1.5rem;
                }
                & .swiper-wrapper {
                    background: $color-white;
                    left: 0;
                    padding: 0 1.5rem 1.5rem 1.5rem;
                    width: 500%;
                    @include respond-to('medium') {
                        padding-bottom: 0;
                    }
                    & .swiper-slide-4 {
                        position: relative;
                        background: $color-white;
                        transition: $transition1;
                        height: 100%;
                        & .link-product {
                            border-radius: 4px;
                            background-color: $color-white;
                            transition: $transition1;
                            position: relative;
                            width: 100%;
                            z-index: 10;
                            & .cont-img {
                                width: 100%;
                                & .image-product {
                                    margin-bottom: 0;
                                    transition: $transition1;
                                }
                            }
                            & .cont-description {
                                background: $color-white;
                                width: 100%;
                                visibility: hidden;
                                opacity: 0;
                                position: absolute;
                                transition: $transition1;
                                left: 0;
                                padding: .75rem;
                                border-radius: 0 0 4px 4px;
                                box-shadow: 0 10px 20px rgba(0, 0, 0, .05);
                                @include respond-to('medium') {
                                    padding: .75rem 0;
                                }
                                & .brand-product {
                                    font-size: 9px;
                                }
                                & .name-product {
                                    font-size: 11px;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    @include respond-to('medium') {
                                        font-size: 12px;
                                    }
                                }
                                & .price-one {
                                    font-size: 13px;
                                }
                                @include respond-to('medium') {
                                    visibility: visible;
                                    opacity: 1;
                                    position: relative;
                                    box-shadow: none;
                                }
                            }
                        }
                        & .link-product:hover {
                            transform: scale(1.2) translateY(-60px);
                            padding: .5rem;
                            height: 100%;
                            box-shadow: 0 0 20px rgba(0, 0, 0, .05);
                            z-index: 20;
                            @include respond-to('medium') {
                                box-shadow: none;
                                padding: 0;
                                transform: none;
                            }
                        }
                        & .link-product:hover .image-product {
                            @include respond-to('medium') {
                                transform: scale(.80);
                            }
                        }
                        & .link-product:hover .cont-description {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        //OPTION SMALL
        & .swiper-section-2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            //Title New Desktop
            & .cont-title-new {
                left: 0;
                position: absolute;
                background: $color-white;
                z-index: 10;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 1px solid $color-gallery;
                @include respond-to('medium') {
                    position: relative;
                    display: none;
                }
                & .title-new {
                    padding: 0 1.5rem;
                    width: 170px;
                    max-height: 170px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include respond-to('medium') {
                        width: 130px;
                        padding: 1rem;
                    }
                    & h1 {
                        font-size: 1.5rem;
                        font-weight: 300;
                        color: $color-mine-shaft;
                        text-align: left;
                        margin: 0;
                        width: 100%;
                        max-width: 85px;
                        @include respond-to('medium') {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
            //Container Swiper
            & .swiper-container {
                overflow: hidden;
                @include respond-to('medium') {
                    padding: 1rem 1rem 3.5rem 1rem;
                }
                //Title New Mobile
                & .cont-title-new-mobile {
                    @extend .cont-title-new;
                    display: none;
                    @include respond-to('medium') {
                        display: block;
                        position: relative;
                        min-height: 100%;
                    }
                    & .title-new {
                        margin-left: 0;
                        min-height: 170px;
                        @include respond-to('super-small') {
                            //min-height: 220px;
                        }
                    }
                }
                & .swiper-wrapper {
                    left: 13.5%;
                    @include respond-to('medium') {
                        left: 0;
                    }
                    & .swiper-slide-4 {
                        position: relative;
                        background: $color-white;
                        transition: $transition1;
                        height: 100%;
                        & .link-product {
                            border-radius: 4px;
                            background-color: $color-white;
                            transition: $transition1;
                            position: relative;
                            width: 100%;
                            & .cont-img {
                                width: 100%;
                                & .image-product {
                                    margin-bottom: 0;
                                    transition: $transition1;
                                }
                            }
                            & .cont-description {
                                background: $color-white;
                                width: 100%;
                                visibility: hidden;
                                opacity: 0;
                                position: absolute;
                                transition: $transition1;
                                left: 0;
                                padding: .75rem;
                                border-radius: 0 0 4px 4px;
                                box-shadow: 0 10px 20px rgba(0, 0, 0, .05);
                                & .brand-product {
                                    font-size: 9px;
                                }
                                & .name-product {
                                    font-size: 11px;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                }
                                & .price-one {
                                    font-size: 13px;
                                }
                                @include respond-to('medium') {
                                    visibility: visible;
                                    opacity: 1;
                                    position: relative;
                                    box-shadow: none;
                                }
                            }
                        }
                        & .link-product:hover {
                            opacity: .8;
                            cursor: pointer;
                            @include respond-to('medium') {
                                box-shadow: none;
                                padding: 0;
                                transform: none;
                            }
                        }
                        & .link-product:hover .image-product {
                            @include respond-to('medium') {
                                transform: scale(.80);
                            }
                        }
                        & .link-product:hover .cont-description {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
            & .swiper-button-prev {
                left: 175px!important;
            }
        }
        //OPTION TIMELINE
        & .swiper-section-time {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            background: transparent;
            box-shadow: none;
            overflow: hidden;
            //Title New Desktop
            & .cont-title-new {
                left: 0;
                position: absolute;
                background: $color-white;
                z-index: 10;
                height: 185px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 1px solid $color-gallery;
                @include respond-to('medium') {
                    position: relative;
                    display: none;
                }
                & .title-new {
                    padding: 0 1.5rem;
                    width: 190px;
                    min-height: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include respond-to('medium') {
                        width: 130px;
                        padding: 1rem;
                        min-height: auto;
                    }
                    & h1 {
                        font-size: 1.5rem;
                        font-weight: 300;
                        color: $color-mine-shaft;
                        text-align: left;
                        margin: 0;
                        width: 100%;
                        max-width: 85px;
                        @include respond-to('medium') {
                            font-size: 1.3rem;
                        }
                        & .visto-text {
                            background-color: $color-mine-shaft;
                            display: inline-block;
                            color: $color-white;
                            padding: 1px 5px 3px 5px;
                            margin-top: 3px;
                        }
                    }
                }
            }
            & .container-timeline {
                background: transparent;
                box-shadow: none;
                padding: 4.2rem 0;
                overflow: hidden;
                width: 100%;
                //Container Swiper
                & .swiper-container {
                    overflow: visible!important;
                    height: 185px;
                    padding-top: 0;
                    background: $color-white;
                    @include respond-to('medium') {
                        padding: 1rem 1rem 3rem 1rem;
                        height: auto;
                    }
                    @include respond-to('super-small') {
                        padding: 1rem 1rem 3rem 1rem;
                    }
                    //Title New Mobile
                    & .cont-title-new-mobile {
                        @extend .cont-title-new;
                        display: none;
                        @include respond-to('medium') {
                            display: block;
                            position: relative;
                            height: auto;
                            margin-right: 1rem;
                        }
                        @include respond-to('super-small') {
                            border-right: 0;
                        }
                        & .title-new {
                            margin-left: 0;
                            min-height: 185px;
                            @include respond-to('medium') {
                                min-height: auto;
                                height: 100px;
                            }
                            @include respond-to('small') {
                                width: 120px;
                            }
                        }
                    }
                    & .swiper-wrapper {
                        left: 13.5%;
                        @include respond-to('medium') {
                            left: 0;
                        }
                        & .swiper-slide-4 {
                            position: relative;
                            background: $color-white;
                            transition: $transition1;
                            height: 100%;
                            width: 100%;
                            height: 185px;
                            padding: 0;
                            max-width: 250px;
                            @include respond-to('medium') {
                                height: 100px;
                                margin-left: .5rem;
                            }
                            @include respond-to('small') {
                                min-width: 190px!important;
                            }
                            & .link-product {
                                border-radius: 4px;
                                height: 185px;
                                background-color: $color-white;
                                transition: $transition1;
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-right: 1px solid $color-gallery;
                                z-index: 10;
                                @include respond-to('medium') {
                                    height: 100px;
                                    border-right: none;
                                }
                                & .cont-img {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    & .image-product {
                                        width: 100px;
                                        height: 100px;
                                        margin: auto;
                                        padding: 5px;
                                        transition: $transition1;
                                    }
                                }
                                & .cont-description {
                                    background: $color-white;
                                    transition: $transition1;
                                    left: 0;
                                    border-radius: 0 0 4px 4px;
                                    & .brand-product {
                                        font-size: 10px;
                                    }
                                    & .name-product {
                                        font-size: 12px;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                    }
                                    & .price-one {
                                        font-size: 14px;
                                    }
                                    & .price-two {
                                        font-size: 10px;
                                    }
                                }
                            }
                            & .link-product:hover {
                                //transform: scale(1.2) translateY(-20px);
                                box-shadow: 0 0 100px rgba(0, 0, 0, .07);
                                //border-right: 0 transparent;
                                z-index: 20;
                                //height: 140px;
                                @include respond-to('medium') {
                                    transform: none;
                                    box-shadow: none;
                                    z-index: inherit;
                                    height: auto;
                                }
                            }
                            & .link-product:hover .image-product {
                                /*                                 @include respond-to('medium') {
                                    transform: scale(.80);
                                } */
                            }
                        }
                    }
                }
            }
            & .swiper-button-prev {
                left: 195px!important;
            }
        }
        //Arrow Next Section
        & .next-section {
            position: absolute;
            bottom: 4%;
            padding: 20px;
            border-radius: 50%;
            border: solid 1px $color-alto;
            display: flex;
            align-items: center;
            justify-content: center;
            animation: arrow-next 1s infinite alternate;
            transition: $transition1;
            @include respond-to('small') {
                padding: 15px;
                bottom: 3%;
            }
            & img {
                width: 30px;
                height: 30px;
                margin: auto;
                @include respond-to('small') {
                    width: 20px;
                    height: 20px;
                }
            }
            &:active {
                background: $color-alto;
            }
        }
        @keyframes arrow-next {
            from {
                transform: translateY(0);
            }
            to {
                transform: translateY(10px);
            }
        }
        //Arrow Back Section
        & .back-section {
            @extend .next-section;
            top: 4%;
            bottom: inherit;
            @include respond-to('small') {
                top: 0%;
            }
            & img {
                transform: rotate(180deg);
            }
        }
        & .volver-inicio {
            @extend .next-section;
            color: $color-gray;
            width: auto;
            height: auto;
            letter-spacing: 2px;
            font-size: .8rem;
            animation: none;
            border: solid 1px $color-alto;
            border-radius: 3px;
            line-height: 35px;
            height: 35px;
            padding: 0 30px;
        }
    }