/* Variables Login */

$bg-login:#172530;
$bg-container-login:#2a4057;
$bg-button-login:#03ce75;
$color-icon:#57738a;

/* Init Style Login */

.container-login {
    background: $bg-login;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $color-white;
    @include respond-to('small') {
        background: $bg-button-login;
    }
    & .container-form {
        border-radius: 4px;
        background: $bg-container-login;
        width: 100%;
        max-width: 465px;
        animation: form 1s 1 forwards;
        transition: $transitionSlow;
        box-shadow: 0 10px 40px -2px rgba(0, 0, 0, .5);
        @include respond-to('medium') {
            width: 85%;
        }
        & .form-login {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column;
            padding: 3rem 2rem;
            width: 90%;
            margin: auto;
            @include respond-to('small') {
                width: 100%;
            }
            & .title-login {
                font-weight: 300;
                color: rgba( $color-white, .8);
                letter-spacing: 3px;
                margin: 0;
                margin-bottom: 1.5rem;
                text-align: center;
                width: 100%;
                font-size: 1.5rem;
                @include respond-to('super-small') {
                    font-size: 1.25rem;
                }
            }
            & .campos {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1.5rem;
                & .fas {
                    text-align: center;
                    color: $color-icon;
                    font-size: 1rem;
                    @include respond-to('super-small') {
                        display: none;
                    }
                }
                & input[type="text"],
                & input[type="password"] {
                    width: 90%;
                    padding: 0 1rem;
                    line-height: 45px;
                    height: 45px;
                    outline: none;
                    font-size: 1rem;
                    color: $color-gray;
                    border-radius: 3px;
                    border: none;
                    transition: $transition1;
                    background: transparent;
                    appearance: none;
                    border: 1px solid $color-white;
                    @include respond-to('super-small') {
                        width: 100%;
                    }
                }
                & input[type="text"]:focus,
                & input[type="password"]:focus {
                    box-shadow: 0 -50px 0 0 $color-white inset;
                    color: $color-gray;
                }
            }
            & .condition-button {
                @extend .campos;
                margin-bottom: 0;
                width: 90%;
                flex-wrap: wrap;
                @include respond-to('super-small') {
                    width: 100%;
                }
                & label {
                    padding: 0;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    @include respond-to('medium') {
                        margin-bottom: .5rem;
                    }
                    span {
                        position: relative;
                        cursor: pointer;
                        display: inline-block;
                        height: 25px;
                        line-height: 25px;
                        font-size: .9rem;
                        text-align: left;
                        padding-left: .5rem;
                        @include respond-to('small') {
                            width: auto;
                        }
                    }
                }
                & .btn-enviar {
                    background: $bg-button-login;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    line-height: 45px;
                    height: 45px;
                    border-radius: 3px;
                    color: $color-white;
                    padding: 0 2rem;
                    font-weight: 700;
                    letter-spacing: 2px;
                    transition: $transition1;
                    &:hover {
                        background: rgba($bg-button-login, .8);
                    }
                    &:active {
                        transform: scale(.90);
                    }
                }
            }
        }
    }
    @keyframes form {
        to {
            opacity: 1;
            transform: translateY(0px);
        }
        from {
            opacity: 0;
            transform: translateY(-50px);
        }
    }
}


/* Reset color Placeholder */

*::-webkit-input-placeholder {
    color: $color-silver-2;
}

:-moz-input-placeholder {
    color: $color-silver-2;
}

:-moz-placeholder {
    color: $color-silver-2;
}

::-moz-placeholder {
    color: $color-silver-2;
}

:-ms-input-placeholder {
    color: $color-silver-2;
}

::-ms-input-placeholder {
    color: $color-silver-2;
}