<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.falabella.com/favicon-32x32.png">
    <title>Paralax Header - UX Falabella</title>
</head>

<body>

    <main class="main-module">
        <!-- Init header -->
        <div class="header">
            <div class="header-background">
                <div class="header-left">
                    <h1 class="title-header">Indice de Empresas</h1>
                </div>
            </div>
        </div>
        <!-- Init menu-country -->
        <nav class="nav-indice">
            <div class="nav-wrapper">
                <ul id="nav-country">
                    <li class="ar"><a href="#" class="link-country"><i class="flag-country flag-ar"></i></a>
                        <span class="tooltips-country"></span>
                    </li>
                    <li class="cl"><a href="#" class="link-country"><i class="flag-country flag-cl"></i></a>
                        <span class="tooltips-country"></span>
                    </li>
                    <li class="co"><a href="#" class="link-country"><i class="flag-country flag-co"></i></a>
                        <span class="tooltips-country"></span>
                    </li>
                    <li class="pe"><a href="#" class="link-country"><i class="flag-country flag-pe"></i></a>
                        <span class="tooltips-country"></span>
                    </li>
                    <li class="br"><a href="#" class="link-country"><i class="flag-country flag-br"></i></a>
                        <span class="tooltips-country"></span>
                    </li>
                    <li class="me"><a href="#" class="link-country"><i class="flag-country flag-me"></i></a>
                        <span class="tooltips-country"></span>
                    </li>
                    <li class="ur"><a href="#" class="link-country"><i class="flag-country flag-ur"></i></a>
                        <span class="tooltips-country"></span>
                    </li>
                    <li class="pa"><a href="#" class="link-country"><i class="flag-country flag-pa"></i></a>
                        <span class="tooltips-country"></span>
                    </li>
                    <li class="ec"><a href="#" class="link-country"><i class="flag-country flag-ec"></i></a>
                        <span class="tooltips-country"></span>
                    </li>
                    <li class="ve"><a href="#" class="link-country"><i class="flag-country flag-ve"></i></a>
                        <span class="tooltips-country"></span>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Init Content Country -->
        <section class="content-country">
        </section>
    </main>

</body>

<!-- Script -->
<script src="js/lib/jquery-3.3.1.min.js"></script>
<script src="js/dist/all.min.js"></script>

</html>