<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.min.css">
    <title>Filters Rango de Edad</title>
</head>

<body>
    <!-- Init New Section -->
    <main class="main-module-filters">
        <section class="cont-filters">
            <div class="title-filter">
                <h2>¿Gamer Trabajo o Estudio?</h2>
                <h2><strong>Tú notebook está aquí</strong></h2>
            </div>
            <div class="type-filter">
                <a class="box-filter">
                    <figure>
                        <img class="img-active" src="https://www.falabella.com/static/RDF/site/content/filter-notebook/img/icon-all-active.svg" alt="Notebook Tradicionales">
                        <img class="img-normal" src="https://www.falabella.com/static/RDF/site/content/filter-notebook/img/icon-all.svg" alt="Notebook Tradicionales">
                    </figure>
                    <p class="text">Ver todo</p>
                </a>
                <a class="box-filter active-filters">
                    <figure>
                        <img class="img-active" src="https://www.falabella.com/static/RDF/site/content/filter-notebook/img/icon-tradicion-active.svg" alt="Notebook Tradicionales">
                        <img class="img-normal" src="https://www.falabella.com/static/RDF/site/content/filter-notebook/img/icon-tradicion.svg" alt="Notebook Tradicionales">
                    </figure>
                    <p class="text">Tradicionales</p>
                </a>
                <a class="box-filter">
                    <figure>
                        <img class="img-active" src="https://www.falabella.com/static/RDF/site/content/filter-notebook/img/icon-mac-active.svg" alt="Notebook Tradicionales">
                        <img class="img-normal" src="https://www.falabella.com/static/RDF/site/content/filter-notebook/img/icon-mac.svg" alt="Notebook Tradicionales">
                    </figure>
                    <p class="text">Macbook</p>
                </a>
                <a class="box-filter">
                    <figure>
                        <img class="img-active" src="https://www.falabella.com/static/RDF/site/content/filter-notebook/img/icon-gamers-active.svg" alt="Notebook Tradicionales">
                        <img class="img-normal" src="https://www.falabella.com/static/RDF/site/content/filter-notebook/img/icon-gamers.svg" alt="Notebook Tradicionales">
                    </figure>
                    <p class="text">Gamers</p>
                </a>
                <a class="box-filter">
                    <figure>
                        <img class="img-active" src="https://www.falabella.com/static/RDF/site/content/filter-notebook/img/icon-conv-active.svg" alt="Notebook Tradicionales">
                        <img class="img-normal" src="https://www.falabella.com/static/RDF/site/content/filter-notebook/img/icon-conv.svg" alt="Notebook Tradicionales">
                    </figure>
                    <p class="text">Convertibles</p>
                </a>
                <!-- <a class="box-filter box-all hide" href="">
                    <p class="text-all">Ver todo</p>
                </a> -->
            </div>
        </section>
    </main>
</body>