<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.falabella.com/favicon-32x32.png">
    <title>Paralax Header - UX Falabella</title>
</head>

<body>

    <main class="main-module">
        <!-- Init header -->
        <div class="header">
            <div class="header__background">
                <div class="header-left">
                    <h1 class="title-header">Indice de Empresas</h1>
                </div>
            </div>
        </div>
        <!-- Init menu-country -->
        <nav class="nav-indice">
            <div class="nav-wrapper">
                <ul id="nav-country">
                    <li><a href="#ar" class="link-country"><i class="flag-country flag-ar"></i></a>
                        <span class="tooltips-country"></span>
                    </li>
                    <li><a href="#cl" class="link-country"><i class="flag-country flag-cl"></i></a>
                        <span class="tooltips-country"></span>
                    </li>
                    <li><a href="#co" class="link-country"><i class="flag-country flag-co"></i></a>
                        <span class="tooltips-country"></span>
                    </li>
                    <li><a href="#pe" class="link-country"><i class="flag-country flag-pe"></i></a>
                        <span class="tooltips-country"></span>
                    </li>
                    <li><a href="#br" class="link-country"><i class="flag-country flag-br"></i></a>
                        <span class="tooltips-country"></span>
                    </li>
                    <li><a href="#me" class="link-country"><i class="flag-country flag-me"></i></a>
                        <span class="tooltips-country"></span>
                    </li>
                    <li><a href="#ur" class="link-country"><i class="flag-country flag-ur"></i></a>
                        <span class="tooltips-country"></span>
                    </li>
                    <li><a href="#pa" class="link-country"><i class="flag-country flag-pa"></i></a>
                        <span class="tooltips-country"></span>
                    </li>
                    <li><a href="#ec" class="link-country"><i class="flag-country flag-ec"></i></a>
                        <span class="tooltips-country"></span>
                    </li>
                    <li><a href="#ve" class="link-country"><i class="flag-country flag-ve"></i></a>
                        <span class="tooltips-country"></span>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Init Content Country -->
        <section class="content-country">
            <!-- Mudule Conuntry -->
            <div id="ar" class="module-country"></div>
            <div id="cl" class="module-country"></div>
            <div id="co" class="module-country"></div>
            <div id="pe" class="module-country"></div>
            <div id="br" class="module-country"></div>
            <div id="me" class="module-country"></div>
            <div id="ur" class="module-country"></div>
            <div id="pa" class="module-country"></div>
            <div id="ec" class="module-country"></div>
            <div id="ve" class="module-country"></div>
        </section>
    </main>

</body>

<!-- Script -->
<script src="js/lib/jquery-3.3.1.min.js"></script>
<script src="js/dist/all.min.js"></script>

</html>