<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.falabella.com/favicon-32x32.png">
    <title>Login - UX Falabella</title>
</head>

<body>


    <main class="main-module">
        <div class="container-login">
            <div class="container-form">
                <form class="form-login" action="" method="POST" autocomplete="on">
                    <h1 class="title-login">CLIENT LOGIN</h1>
                    <!-- Name -->
                    <div class="campos">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Username" required autofocus>
                    </div>
                    <!-- Password -->
                    <div class="campos">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" required>
                    </div>
                    <!-- Module Boton & Checkbox -->
                    <div class="condition-button">
                        <label class="grid-1-2">
                            <input type="checkbox" />
                            <span >Remember me</span>
                        </label>
                        <button type="submit" name="boton" class="btn-enviar grid-1-2">ENVIAR</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

</body>