.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    & img {
        width: 120px;
        @media screen and (max-width: 480px) {
            width: 80px;
        }
    }
}

svg {
    position: fixed;
    top: 20%;
    height: 60%;
    left: 20%;
    width: 60%;
    transform: scale(.70);
    @media screen and (max-width: 480px) {
        transform: scale(1);
    }
}